---
title: Blog
---
<h1 class="mb-5 text-center">Aktuelles</h1>

<div class="row justify-content-center">
  {% for post in site.posts %}
  <div class="col-lg-6 my-4">
    <div class="shadow bg-body">
      {% picture thumbnail-blog {{post.image.url}} --img alt="{{post.image.alt-text}}"%}
      <div class="p-3">
        {% if post.pressebericht == true %}
        <span class="letter-spacing-2 text-uppercase"><strong>Pressebericht</strong></span>
        {% endif %}
        {% unless post.pressebericht == true %}
        <span class="letter-spacing-2 text-uppercase"><strong>Blogartikel</strong></span>
        {% endunless %}
        <h2 class="blog-entry-title">
          <a class="text-decoration-none primary-color" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="blog-entry-summary">
          {{ post.excerpt }}
          <a class="btn btn-primary rounded-pill" href="{{ post.url }}">weiterlesen</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>