---
title: Blog
custom-css: /assets/css/blog-styles.css
---
<h1 class="mb-5 text-center">Aktuelles</h1>

<ul class="blog-list list-md-2">
  {% for post in site.posts %}
  <li class="blog-item">
<!--    <img class="blog-feature-img" src="{{ post.image }}" alt="Principium_Canti_Herborn_Weihnachtsmarkt">-->
    {% picture jpt-webp {{ post.image }} --img class="blog-feature-img" %}
    <div class="blog-content">
      {% if post.pressebericht == true %}
      <span class="blog-entry-category"><a href="{{ post.url }}">Pressebericht</a></span>
      {% endif %}
      {% unless post.pressebericht == true %}
      <span class="blog-entry-category"><a href="{{ post.url }}">Blogartikel</a></span>
      {% endunless %}
      <h3 class="blog-entry-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h3>
      <div class="blog-entry-summary">
        {{ post.excerpt }}
        <a href="{{ post.url }}">weiterlesen</a>
      </div>
    </div>
  </li>
  <!--<li>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
  </li>-->
  {% endfor %}
</ul>