---
title: Blog
---
<h1 class="mb-5 text-center">Aktuelles</h1>

<div class="row justify-content-center">
  {% for post in site.posts %}
  <div class="col-lg-6 my-4">
    <div class="shadow bg-body">
      {% picture jpt-webp {{post.image}} --img class="blog-feature-img img-fluid" %}
      <div class="p-3">
        {% if post.pressebericht == true %}
        <span class="letter-spacing-2 text-uppercase"><a href="{{ post.url }}" class="text-decoration-none"><strong>Pressebericht</strong></a></span>
        {% endif %}
        {% unless post.pressebericht == true %}
        <span class="letter-spacing-2 text-uppercase"><a href="{{ post.url }}" class="text-decoration-none"><strong>Blogartikel</strong></a></span>
        {% endunless %}
        <h3 class="blog-entry-title">
          <a class="text-decoration-none text-primary" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <div class="blog-entry-summary">
          {{ post.excerpt }}
          <a class="btn btn-primary rounded-pill" href="{{ post.url }}">weiterlesen</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>