---
title: Home
layout: default
custom-css: /assets/css/frontpage-styles.css
frontpage: true
---
{% include banner.html %}
<div class="container-lg">
  <div id="info-box">
    {% include infobox.html %}
  </div>
  <div id="über-uns" class="pt-section">
    {% include ueber-uns.html %}
  </div>
  <div id="aktuelles" class="pt-section">
    {% include aktuelles.html %}
  </div>
  <div id="konzerte" class="pt-section">
    {% include konzerte.html %}
  </div>
  <div id="kontakt" class="pt-section">
    {% include kontakt.html %}
  </div>
</div>
{% include frontpage-navigation-script.html %}


