<h2 class="text-center">Aktuelles</h2>
<div class="row">
  {% for post in site.posts limit:3 %}
  <div class="col-xl-4 my-4">
    <div class="shadow bg-body">
      {% picture thumbnail-frontpage {{post.image.path}} --img alt="{{ post.image.alt }}" %}
      <div class="p-3">
        {% if post.pressebericht == true %}
        <span class="letter-spacing-2 text-uppercase"><strong>Pressebericht</strong></span>
        {% endif %}
        {% unless post.pressebericht == true %}
        <span class="letter-spacing-2 text-uppercase"><strong>Blogartikel</strong></span>
        {% endunless %}
        <h3>
          <a class="text-decoration-none primary-color" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <div>
          {{ post.excerpt }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="m-4 d-flex align-items-center justify-content-center">
  <a class="btn btn-primary btn-lg rounded-pill text-uppercase letter-spacing-4 align-center" href="/blog/" role="button">Weitere Blogposts</a>
</div>
