<h2 class="text-center">Aktuelles</h2>
<div class="row">
  {% for post in site.posts limit:3 %}
  <div class="col-xl-4 my-4">
    <div class="shadow bg-body">
      {% picture jpt-webp {{post.image.url}} --img class="blog-feature-img img-fluid" alt="{{ post.image.alt-text }}" %}
      <div class="p-3">
        {% if post.pressebericht == true %}
        <span class="letter-spacing-2 text-uppercase"><a href="{{ post.url }}" class="text-decoration-none"><strong>Pressebericht</strong></a></span>
        {% endif %}
        {% unless post.pressebericht == true %}
        <span class="letter-spacing-2 text-uppercase"><a href="{{ post.url }}" class="text-decoration-none"><strong>Blogartikel</strong></a></span>
        {% endunless %}
        <h3>
          <a class="text-decoration-none text-primary" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <div>
          {{ post.excerpt }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="m-4 d-flex align-items-center justify-content-center">
  <a class="btn btn-primary btn-lg rounded-pill text-uppercase letter-spacing-4 align-center" href="/blog.html" role="button">Weitere Blogposts</a>
</div>
