<div class="d-flex flex-column justify-content-center align-items-center my-5">
  <div class="footer-brand">Principium Canti</div>
  <!--<img src="/assets/images/footer/Principium-Canti-Logo-footer.jpeg" alt="">-->
  <div class="d-flex justify-content-center gap-4 my-3">
    {% for item in site.data.social-buttons %}
      <a href="{{ item.link }}"><i class="{{ item.fontawesome-icon}}"></i></a>
    {% endfor %}
  </div>
  <span class="small my-2">Copyright 2022 by Principium Canti</span>
  <div class="d-flex justify-content-center gap-3 mt-2 mb-5">
    {% for item in site.data.footer-links %}
    <a class="small" href="{{ item.link }}">{{ item.name }}</a>
    {% endfor %}
  </div>
</div>