<div class="d-flex flex-column justify-content-center align-items-center my-5">
  <div class="footer-brand">Principium Canti</div>
  <div class="d-flex justify-content-center gap-4 my-3">
    {% for item in site.data.social-buttons %}
      <a href="{{ item.link }}" target="_blank" aria-label="{{ item.name }}" rel="noopener noreferrer">
        <svg class="icon-shadow {{ item.icon.name }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 {{item.icon.width}} {{item.icon.height}}" height="1.5rem">
          <use href="#{{ item.icon.name }}" x="0" y="0" />
        </svg>
      </a>
    {% endfor %}
  </div>
  <span class="small my-2">Copyright 2022 by Principium Canti</span>
  <div class="d-flex justify-content-center gap-3 mt-2 mb-5">
    {% for item in site.data.footer-links %}
    <a class="small" href="{{ item.link }}">{{ item.name }}</a>
    {% endfor %}
  </div>

  <div id="wcb" class="carbonbadge carbonbadge-custom"></div>
  <style>
      #wcb.carbonbadge-custom {
      --b1: var(--website-carbon-badge-bg-1) !important;
      --b2: var(--website-carbon-badge-bg-2) !important;
  }
  </style>
  <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
  <script>
    window.matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', event => {
          if (event.matches) {
            document.querySelector('.carbonbadge').classList.add('wcb-d');
          } else {
            document.querySelector('.carbonbadge').classList.remove('wcb-d');
          }
        });
    if (window.matchMedia('(prefers-color-scheme: dark)').matches){
      document.querySelector('.carbonbadge').classList.add('wcb-d');
    }
  </script>
</div>