<ul class="infobox-list list-md-2 mt-5">
  <li>
    <div class="infobox-item d-flex">
      <i class="infobox-icon fa-solid fa-heart me-4"></i>
      <div class="infobox-content">
        <span class="infobox-title">Was uns ausmacht</span>
        <p>
          Langjährige Freundschaft ist das Fundament unserer musikalischen Arbeit! Wir suchen immer wieder neue Herausforderungen und legen dabei großen Wert darauf, unabhängig von Trends und Gewohnheiten, unser ganz eigenes „Ding“ zu machen.
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="infobox-item d-flex">
      <i class="infobox-icon fa-solid fa-music me-4"></i>
      <div class="feature-content">
        <span class="infobox-title">Repertoire</span>
        <p>
          "Was uns gefällt, singen wir". Unser Repertoire ist breit gefächert, somit befinden wir uns auf einer musikalischen Zeitreise durch alle Epochen und Stile. Wir sind stets bereit, das ein- oder andere Stück zu wagen, was man in dieser Besetzung normalerweise nicht aufführen würde.
        </p>
      </div>
    </div>
  </li>
</ul>