<script src="/assets/js/uncryptmailto.js" defer></script>
<div class="box left my-5">
  <div class="box-inner">
    <div class="box-figure"> <img src="/assets/images/kontakt/Principium-Canti-Kontakt.jpeg" alt="Frag uns"> </div>
  </div>
  <div class="box-inner">
    <div class="box-content">
      <h2 id="nav-kontakt" class="box-title">Frag uns!</h2>
      <div>
        <p>
          Wir sind offen für Fragen und Kritiken aller Art, auch Konzert- und Auftrittsanfragen nehmen wir gerne entgegen, melden Sie sich einfach.
        </p>
        <p>
          <a href="javascript:linkTo_UnCryptMailto('~rz}KzwQztzz~trz?uv', 17);" class="email_contact_selective">info [at] principiumcanti [dot] de</a>
        </p>
      </div>
    </div>
  </div>
</div>