<script src="/assets/js/uncryptmailto.js" defer></script>
<div class="row align-items-center g-0">
  <div class="col-md-6 d-none d-md-block" style="margin-right: -4.17%;">
    {% picture jpt-webp /assets/images/kontakt/Principium-Canti-Kontakt.jpeg --img class="img-fluid" style="max-width=620px" %}
  </div>
  <div class="col-md-6 d-md-none">
    {% picture jpt-webp /assets/images/kontakt/Principium-Canti-Kontakt.jpeg --img class="img-fluid" style="max-width=620px" %}
  </div>
  <div class="col-md-7 d-none d-md-block" style="margin-left: -4.17%;">
    <div class="shadow p-4 bg-body">
      <h2 class="box-title h1 text-uppercase">Frag uns!</h2>
      <div>
        <p>
          Wir sind offen für Fragen und Kritiken aller Art, auch Konzert- und Auftrittsanfragen nehmen wir gerne entgegen, melden Sie sich einfach.
        </p>
        <p>
          <a href="javascript:linkTo_UnCryptMailto('~rz}KzwQztzz~trz?uv', 17);" class="email_contact_selective">info [at] principiumcanti [dot] de</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-md-none">
    <div class="shadow p-4 bg-body">
      <h2 class="box-title h1 text-uppercase">Frag uns!</h2>
      <div>
        <p>
          Wir sind offen für Fragen und Kritiken aller Art, auch Konzert- und Auftrittsanfragen nehmen wir gerne entgegen, melden Sie sich einfach.
        </p>
        <p>
          <a href="javascript:linkTo_UnCryptMailto('~rz}KzwQztzz~trz?uv', 17);" class="email_contact_selective">info [at] principiumcanti [dot] de</a>
        </p>
      </div>
    </div>
  </div>
</div>