<script src="/assets/js/uncryptmailto.js" defer></script>
<div class="row align-items-center g-0">
  <div class="col-md-6-overflow-left">
    {% picture /assets/images/kontakt/Principium-Canti-Kontakt.jpeg --img style="max-width=620px" alt="Das Bild zeigt die 9 Sänger von Principium Canti, wie sie in ihren schwarzen Hosen und Hemden eine mit Schnee bedeckte Straße hinauf laufen. Im Hintergrund ist eine weiße Schneelandschaft zu erkennen." %}
  </div>
  <div class="col-md-6-overflow-right">
    <div class="shadow p-4 bg-body">
      <h2 class="box-title h1 text-uppercase">{{ site.data.frontpage.kontakt.heading }}</h2>
      <div>
        <p>
          {{ site.data.frontpage.kontakt.text }}
        </p>
        <p>
          <a href="javascript:linkTo_UnCryptMailto('~rz}KzwQztzz~trz?uv', 17);" class="email_contact_selective">info [at] principiumcanti [dot] de</a>
        </p>
      </div>
    </div>
  </div>
</div>