<h2 id="nav-konzerte" class="text-center">Konzerte</h2>
<div class="row justify-content-center">
  {% for konzert in site.konzerte %}
  {% capture i18n_date %}
  {{ konzert.date | date: "%-d" }}.
  {% assign m = konzert.date | date: "%-m" | minus: 1 %}
  {{ site.data.de.months[m] }}
  {{ konzert.date | date: "%Y" }}
  {% endcapture %}
  <div class="col-md-6 mt-4">
    <div class="shadow bg-body p-3">
      <div class="h4 concert-item-date"><strong>{{ i18n_date }}</strong></div>
      <h3 class="h4 concert-item-title">{{ konzert.title }}</h3>
      <div class="concert-item-details">
        {% if konzert.address %}
        {% if konzert.google-maps == false %}
        <span class="me-2"><i class="fa-solid fa-map-location-dot me-2"></i>{{ konzert.address }}</span>
        {% endif %}
        {% unless konzert.google-maps == false %}
        <span class="me-2"><i class="fa-solid fa-map-location-dot me-2"></i><a class="text-decoration-none" target="_blank" href="https://www.google.com/maps/search/{% if konzert.zip != nil %}{{ konzert.zip }}%20{% endif %}{{konzert.address | uri_escape }}">{{ konzert.address }}</a></span>
        {% endunless %}
        {% endif %}
        {% if konzert.time %}
        <span class="me-2"><i class="fa-solid fa-clock me-2"></i>{{ konzert.time }}</span>
        {% endif %}
      </div>
    </div>

  </div>
  {% endfor %}
</div>