<div class="box left my-5">
  <div class="box-inner">
    <div class="box-figure"> <img src="/assets/images/ueber-uns/Principium-Canti-Ueber-uns.jpeg" alt="Über uns"> </div>
  </div>
  <div class="box-inner">
    <div class="box-content">
      <h2 id="nav-über-uns" class="box-title">Über uns</h2>
      <div>Wir, Principium Canti, sind ein bunt zusammengewürfeltes, 13-köpfiges Männervokalensemble aus dem wunderschönen Sängerdorf Lindenholzhausen.
        <br><br>
        Nach unserer Gründung in einer lauen Spätsommernacht im Jahr 2015 fingen wir im Frühjahr 2016 mit unregelmäßigen Sonntagsproben an. Schnell stellten wir fest, dass uns die Probenarbeit Spaß macht, wir stimmlich gut zueinander passen und man mehr oder weniger den gleichen Musikgeschmack hat. Gründe genug für uns, nach und nach unser sowohl mit weltlich- als auch geistlichen Werken gespicktes Repertoire zu gestalten - ganz nach unserem eigenen Gusto.
        <br><br>
        Unsere Zielsetzung besteht darin, immer wieder neue Herausforderungen zu suchen und unabhängig von Trends und Gewohnheiten unser ganz eigenes „Ding“ zu machen. Wir haben keine feste musikalische Leitung und erarbeiten uns somit alles in Teamarbeit. Unregelmäßig lassen wir uns von Profis den ein- oder anderen Tipp geben. Wir geben Konzerte, gestalten Konzerte mit, singen Ständchen zu Geburtstagen, Kindtaufen, Hochzeiten und sonstigen Festivitäten. <br><br>
        Besonders wichtig sind uns Auftritte in Alters- und Pflegeheimen, sowie auf Weihnachtsmärkten, wohltätigen Veranstaltungen und sonstigen Feierlichkeiten. <br><br>
        Wer uns eine Anfrage schickt hat durchaus realistische Chancen, dass wir auftreten – egal zu welchem Anlass. <br><br>
        Wir machen das sehr gerne.
      </div>
    </div>
  </div>
</div>