<div class="row align-items-center g-0 my-5">
  <div class="col-md-6-overflow-left">
    {% picture /assets/images/ueber-uns/Principium-Canti-Ueber-uns.jpeg --img alt="Das Foto zeigt die 9 Sänger von Principium Canti in einem Halbkreis stehend vor einer bewachsenen und beschneiten Steinmauer. Die Männer tragen schwarze Hosen und Hemden. Im Hintergrund sieht man die Kirche St. Peter und Paul in Arzbach, sowie einen Baum." %}
  </div>
  <div class="col-md-6-overflow-right">
    <div class="shadow p-5 bg-body">
      <h2  class="h1 text-uppercase">{{ site.data.frontpage.ueber-uns.heading }}</h2>
      <div>
        {{ site.data.frontpage.ueber-uns.text }}
      </div>
    </div>
  </div>
</div>