body {
  --blog-title-text-color: var(--principium-gold);
  --blog-background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    --blog-title-text-color: var(--principium-gold);
    --blog-background-color: black;
  }
}


.blog-content {
  position: relative;
  background-color: var(--blog-background-color);
  padding: 20px;
  box-shadow: 1px 1px 10px 3px var(--box-shadow-color);
}

.blog-entry-category {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 2px;
}

.blog-entry-title, .blog-entry-title > a {
  color: var(--blog-title-text-color);
  margin: 0 0 10px;
  font-size: 1.5rem;
  line-height: 1.1;
}

.blog-feature-img {
  width: 100%;
}

/* Medium */
@media screen and (max-width: 991px) {
  :root{
    font-size: 40px;
  }
}

ul[class*="list"] {
  padding: 0;
  margin: -15px;
  list-style-type: none;
  display: block;
  clear: both;
}

ul[class*="list"]:before,
ul[class*="list"]:after {
  display: table;
  content: " ";
}

ul[class*="list"]:after {
  clear: both;
}

ul[class*="list"] > li {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 15px;
  width: 100%;
  display: block;
}

ul[class*="list"].full {
  margin: 0;
}

ul[class*="list"].full > li {
  padding: 0;
}

@media screen and (min-width: 992px) {
  ul.list-md-1 > li {
    width: 100%;
  }
  ul.list-md-2 > li {
    width: 50%;
  }
  ul.list-md-3 > li {
    width: 33.333333%;
  }
  ul.list-md-4 > li {
    width: 25%;
  }
  ul.list-md-5 > li {
    width: 20%;
  }
  ul.list-md-6 > li {
    width: 16.666666%;
  }

  ul[class*="list-md"] > li:nth-of-type(n) {
    clear: none;
  }

  ul.list-md-2 > li:nth-of-type(2n+3) {
    clear: both;
  }

  ul.list-md-3 > li:nth-of-type(3n+4) {
    clear: both;
  }

  ul.list-md-4 > li:nth-of-type(4n+5) {
    clear: both;
  }

  ul.list-md-5 > li:nth-of-type(5n+6) {
    clear: both;
  }

  ul.list-md-6 > li:nth-of-type(6n+7) {
    clear: both;
  }
}


/*text align fix*/
ul[class*="list"].blog-list,
ul[class*="list"].infobox-list,
ul[class*="list"].concert-list {
  text-align: center;
  font-size: 0;
}

ul[class*="list"].blog-list > li,
ul[class*="list"].infobox-list > li,
ul[class*="list"].concert-list > li {
  display: inline-block;
  float:none;
  vertical-align: top;
  text-align: left;
}
