---
layout: default-container
---
{% include i18n-date.html %}
{% if page.image != nil %}
<div class="mb-3 text-center">
  {% picture {{page.image.path}} --img class="img-fluid" width="960" alt="{{page.image.alt}}" %}
</div>
{% endif %}
{% if page.pressebericht == true %}
<span class="letter-spacing-2 text-uppercase"><strong>Pressebericht</strong></span>
{% endif %}
{% unless page.pressebericht == true %}
<span class="letter-spacing-2 text-uppercase"><strong>Blogartikel</strong></span>
{% endunless %}
<h1 class="primary-color">{{ page.title }}</h1>
{% if page.subtitle != nil %}
<h2>{{ page.subtitle }}</h2>
{% endif %}
<p>
  <span class="small">{{ i18n_date }}</span>
  {% if page.author != nil %}<span class="small"> | Von {{ page.author }}</span>{% endif %}
  {% if page.quelle-name != nil and page.quelle-link != nil %}<span class="small"> | </span><a class="small" href="{{ page.quelle-link }}">{{ page.quelle-name }}</a>{% endif %}
  {% if page.quelle-name != nil and page.quelle-link == nil %}<span class="small"> | {{ page.quelle-name }}</span>{% endif %}
</p>
{{content}}

{% if page.quelle-name != nil and page.quelle-link != nil %}
<p><em><span class="small">Quelle: </span><a class="small" href="{{ page.quelle-link }}">{{ page.quelle-name }}</a></em></p>
{% endif %}

